@mixin tr{
  text-align: center;
}

@mixin td {
   padding: 5px 10px;
}

.personal-accaunt {
  &__title{
    color: red;
  }
  &__data {
    display: flex;
    justify-content: space-between;
  }
}
.design_section {
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 5px 5px green;
}
table{
  width: 100%;
  thead {
    tr{
      background-color: cornsilk;
      @include tr;
      td {
        @include td
      }
    }
  }
  tbody {
    tr {
      background-color: lawngreen;
      @include tr;
      td {
        @include td
      }
    }
  }
 }
.orders{
   &__datas {
     display: flex;
     justify-content: space-between;
   }
   &__data {
    padding: 10px 20px;
     margin: 20px;
     box-shadow: 5px 5px 5px 5px grey;
     border-radius: 5px;
}
}
.section{
  &__order-button {
    margin: 25px;
  }
}
