@mixin tr{
  text-align: center;
}

@mixin td {
   padding: 5px 10px;
}

.button{
  &_designsections {
    background: blue;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    align-items: center;

    &:hover {
      background: red;
      cursor: pointer;
    }
  }
}
.personal-accaunt {
  &__title{
    color: red;
    width: 100%;
    height: 250px;
    text-align: center;
   }
  &__data {
    display: flex;
    justify-content: space-between;
  }
}
.design_section {
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 5px 5px green;
  display: flex;
  justify-content: space-between;
}
table{
  width: 100%;
  caption{
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin: 10px 0;
  }
  thead {
    tr{
      background-color: cornsilk;
      @include tr;
      td {
        @include td
      }
    }
  }
  tbody {
    tr {
      background-color: lawngreen;
      @include tr;
      td {
        @include td
      }
    }
  }
 }
.orders{
   &__datas {
     display: flex;
     justify-content: space-between;
   }
   &__data {
    padding: 10px 20px;
     margin: 20px;
     box-shadow: 5px 5px 5px 5px grey;
     border-radius: 5px;
}
}
.section{
  &__order-button {
    margin: 25px;
  }
}

.create-order{
  &__card {
    padding: 10px 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 5px;
  }
  &__last-price{
    &_warning {
      color: red
    }
  }
}


